<section class="jumbotron text-center">
	<div class="container">
		<h1 class="jumbotron-heading">Portfolioli</h1>
		<p class="lead text-muted">Marvel at my magical portfolio!</p>
		<p>
			<%= link_to '//AboutMe', about_me_path, class:'btn btn-primary' %>
			<%= link_to '//BlogDawg', blogs_path, class: 'btn btn-secondary' %>
		</p>
	</div>
</section>