<h1>Pages#about</h1>
<p>Just an average guy who likes long walks on the beach and puppies.
Actually, though both statements are true,
there's more to be known. If you throw something at me to learn,
then I'll most likely pick it up and work at trying to interpret
it simply because no bit of knowledge is a waste.</p>

<ul><p size="50">Just a few of my <strong>main</strong> interests</p>
	<li>Politics</li>
	<li>Coding</li>
	<li>Economics</li>
	<li>//UPDATE</li>
</ul>