<h1>About Me</h1>

<hr>

<div class="row">
	<div class="col-md-4">
		
		<%= image_tag "14-093.jpg", width: 300, alt: "Profile Image" %>
	
	</div>
	
	<div class="col-md-8">
		<p>Just an average guy who likes long walks on the beach and puppies.
		Actually, though both statements are true,
		there's more to be known. If you throw something at me to learn,
		then I'll most likely pick it up and work at learning the topic
		simply because no bit of knowledge is a waste.</p>
		
		<ul><p size="50">Just a few of my <strong>main</strong> interests</p>
			<li>Politics</li>
			<li>Coding</li>
			<li>Economics</li>
			<li>Memes</li>
			<li>Cats && Dogs</li>
			<li>Ethics</li>
			<li>Anything else you could think of, there's a 99.99% chance that I'd like it</li>
		</ul>	
	</div>
</div>