<div class="app-card-container">
	<div class="card">
		<h1>Would you like to work together?</h1>
		
		<hr>
		
		<div class="row">
		  	<div class="col-md-6">
				<!--<h1>Pages#contact</h1>-->
				<p>Find me in app/views/pages/contact.html.erb</p>
				<p><%= number_to_phone "8005554444" %></p>
				<P><%= number_to_currency "1692" %></P>
				<p><%= number_with_delimiter "00001101" %></p>
			
				<p><a href="mailto:flakeykarma21@gmail.com?subject=PortfolioContact" "email me">//EmailMeDawg</a></p>
			</div>
		
			<div class="col-md-6", >
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d91351.87030902787!2d-78.39561332000004!3d44.315173051770024!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d58c91b5103a57%3A0x5037b28c72318e0!2sPeterborough%2C+ON%2C+Canada!5e0!3m2!1sen!2sus!4v1500995269486" width="300" height="225" frameborder="0" style="border:0" position="bottom-right" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>