<div class="inner cover">
  <h1 class="cover-heading">Homepage for my Homedawgz</h1>
  <p class="lead">Hello there fellow internaut! I see that you've either shown up here by utter sheer chance or I've invited you... or maybe the site was given by someone else. EITHER WAY. Welcome to each one of you. By coming here, you're automatically one of my homeboys or homegirls, so go ahead and get comfortable, because I've got a bit to show you here [Insert smiley from Font-awesome]</p>
  <p class="lead">
    <%= link_to "About me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>